body {
color: var(--color-primary);
background-color: var(--color-secondary);
min-height: 100vh;
}

body, h2, h3, .h4, .prices-home {
font-family: 'Cambay', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
max-width: 100%;
overflow-x: hidden;
margin: 0%;
}

main {
  min-height: 100vh;
}

.footer, header {
display: flex;
}

header {
height: 85px;
}

.logo {
flex: none;
margin-left: 80px;
margin-top: 5px;
}

.hamburger-menu:has(#menu-checkbox:checked) ~ .nav-mobile {
  display: inline-block;
  }

.nav-mobile {
  position: absolute;
  top: 86px;
  width: 100%;
  margin-left: -5px;
  box-shadow: 0px 4px black;
}

.nav-mobile ul, .nav-mobile nav, .nav-mobile li, .nav-mobile{
  background-color: #658D7A;
}

.nav-mobile a:visited {
  color: black ;
}

.nav-mobile li {
  padding-inline: 0 10px;
}

.nav-mobile ul {
  padding: 0px 20px;
  margin-left: 15px;
}

.nav-mobile nav {
  text-align: center;
}

.nav-desktop {
flex-grow: 5;
justify-content: flex-start;
margin-left: 30px;
margin-top: 15px;
}

.cart {
flex-grow: 1;
margin-left: 100px;
}

.nav-desktop li {
display: inline-block;
padding-inline: 0px 40px;
}

.nav {
margin-top: 15px;
}

.cart {
margin-top: 30px;
}

nav a, nav li {
font-size: 1rem;
}

.light-button, .dark-button, #submit-button, nav a{
text-decoration: none;
}

.active-desktop, header,nav,.footer, .nav-desktop a:visited {
color: #0A3641;
}

nav a:hover, .active-desktop {
text-decoration: underline;
}

header,nav,.footer{
background-color: #E0E5E0;
}

#menu-checkbox {
display: none;
}

.logo-image {
height: 70px;
width: 8rem;
}
    
.page-divider-small, .page-divider-large {
background-color: #0A3641;
padding: 30px;
max-width: 20000px;
}
    
.page-divider-small {
padding: 2rem;
}
    
.page-divider-large {
padding: 40px;
}

.footer p {
font-size: 12px;
}

.footer-left, .footer-right {
text-align: left;
flex: 1;
margin-left: 35px;
}

.footer-right {
text-align: right;
margin-right: 35px;
}

.bold-p-small, .bold-p-large, h2, h3, .h4, .prices-home {
font-weight: bold;
}

.bold-p-small{
font-size: 15px;
}

.bold-p-large, h2 {
font-size: 20px;
}

h1 {
font-family: 'Lato', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
font-size: 25px;
}

h3, .prices-home, .prices-jackets{
font-size: 18px;
}

p, .light-button {
font-size: 16px;
}

.light-button, .dark-button, .dark-button-submit {
border-style: none;
border-radius: 10px;
}

.light-button{
background-color: white;
color: black;
padding: 6px 4% 3px 4%;
border-color: white;
}

.dark-button, .dark-button-submit {
background-color: black;
color: white;
}

.dark-button, .dark-button-submit {
width: 200px;
text-align: center;
font-size: 15px;
padding: 10px;
}

/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px) {
        
        .nav-mobile, .nav-desktop {
          display: none;
        }

        header {
        padding: 5px;
        display: flex;
        }

        .logo {
        display: flex;
        flex: 1;
        justify-content: center;
        margin: auto;
        }

        .hamburger-menu {
        display: flex;
        justify-content: center;
        flex: 1;
        margin: auto;
        }
        
        .cart {
        display: flex;
        flex: 1;
        margin: auto;
        justify-content: center;
        }
        
        nav li {
        display: inline-block;
        padding:  0px 20px;
        }
        
        nav a, nav li {
        font-size: 1rem;
        }

        .footer {
        font-size: 6px;
        }

        .dark-button {
        max-width: 140px;
        font-size: 13px;
        }

        .page-divider-small {
          padding: 20px;
        }

        .dark-button {
          max-width: 60%;
        }
    }
  
  
  
  
  /*smaller and lagrer tablets*/
  @media screen and (min-width: 601px) and (max-width: 900px) {
    .popular-jackets-image, .nav-desktop, .nav-mobile{
      display: none;
    }

    header {
    padding: 5px;
    display: flex;
    }

    .logo {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: auto;
    }

    .hamburger-menu {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: auto;
    }
    
    .cart {
    display: flex;
    flex: 1;
    margin: auto;
    justify-content: center;
    }
    
    nav li {
    display: inline-block;
    padding:  0px 20px;
    }
    
    nav a, nav li {
    font-size: 1rem;
    }

    .nav-mobile li {
      padding-inline: 0 20px;
    }

  }
  
  /*laptop and desktop*/
  @media screen and (min-width: 901px) and (max-width: 20000px) {
    .popular-jackets-image-small, .hamburger-icon, .nav-mobile {
      display: none;
    }
  
  }