/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */
@import url('https://fonts.googleapis.com/css2?family=Cambay:wght@400;700&family=Lato:wght@900&display=swap');
@import url("./_mediaqueries.css");

.home-intro-section, .page-intro{
  background-color: #0A3641;
  color: white;
}

.home-intro-section {
  max-width: 100%;
  grid-column-gap: 10px;
  text-align: left;
  padding: 30px 0px;
}

.xanadu-page, .product-details, .about-part1,.about-part3, .contact-content, .contact-content1, .contact-info {
  display: flex;
}

.h2-home {
  margin-left: 6rem;
}

.page-intro {
  padding: 20px 6rem;
}

.page-intro p {
  max-width: 92%;
  margin-left: 2%;
}

.home-page-main-image {
  max-width: 400px;
}

.home-intro-image {
  margin-left: -60px;
}

.home-intro-text {
  margin-left: 15%;
  max-width: 73%;
  line-height: 40px;
  grid-column: 1 / span 2;
  margin-top: 20px;
}

.home-intro-text p, .page-intro p {
  font-size: 17px;
}

.home-intro-section, .fabric-info-home, .product-list, .popular-jackets {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.fabric-info-home, .product-list, .popular-jackets {
  max-width: 1200px;
  text-align: center;
}

.fabric-info-home, .popular-jackets {
  margin: 20px auto;
  grid-column-gap: 200px;
}

.windproof-info-home, .waterproof-info-home, .breathable-info-home {
  max-width: 200px;
}

.popular-jackets {
  grid-column-gap: 100px;
  margin-left: 100px;
}

.popular-jackets h2,.about-part2 h1 {
  grid-column: -1/1;
}

.popular-jackets p {
  max-width: 300px;
  margin-left: 20px;
}

.about-part1,.about-part3 {
  justify-content: space-between;
  flex-direction: row;
}

.products div, .contact-info {
  text-align: center;
}

.products {
  align-items: center;
}

.about-part3-text, .contact-content > * {
flex: 1;
}

.fabric-icon {
  max-height: 80px;
}

.contact-content > * {
  margin: 0px 60px 0px 60px;
}

.product-images, .popular-jackets-image {
  max-width: 100%;
}

.contact-content1 {
justify-content: center;
}

.product-list {
  margin: 5% auto;
  grid-gap: 30px;
}

.back-p {
  font-size: 15px;
}

.back-p, .team-photo-2 {
  margin-left: 35px;
}

.back-p, .contact-info {
  margin-top: 30px;
}

.back-i, .back-i:visited {
  text-decoration: none;
}

.back-i, .back-i:visited, #sizes, .contactform {
  color: black;
}

.all-icons {
  width: 90px;
  left: 53%;
  top: 40%;

}

.xandau-image {
  max-width: 140%;
  max-height: 85%;
}

.xandau-image, .team-photo-2, .contact-image {
  margin-top: 10px;
}

.product-page {
  max-width: 1200px;
}

.product-image {
  margin-left: 36px;
}

.product-details {
  flex: 1;
  flex-direction: column;
  margin-right: 8%;
  max-width: 700px;
}

.product-button {
  padding-top: 26%;
}

#sizes {
  width: 200px;
  background-color: #E0E5E0;
  padding: 7px;
  margin-top: 1rem;
  text-align: left;
}

.about-part1-text {
  max-width: 45rem;
  margin-top: 5rem;
  line-height: 50px;
  margin-left: 17%;
}

.about-part2 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  max-width: 1000px;
  margin-left: 20%;
  padding: 20px, 0px;
}

.values {
  max-width: 70%;
}

.team-photo-1 {
  margin-right: 35px;
  margin-top: 25px;
}

.form__input, .form {
  padding-top: 10px;
}

.team-photo-2, .team-photo-1,.about-part3-text p {
  max-width: 80%;
}

.about-part3-text {
  line-height: 30px;
}

.contact-content1 {
  background-color: #A9BCBB;
  align-items: center;
}

.contact-image{
  max-height: 300px;
  margin-left: 10%;
}

.contact-info {
  gap: 150px;
  line-height: 15px;
}

.form__input, .form {
  display: block;
}

input, #sizes, textarea {
border: none;
border-radius: 6px;
margin: 10px 10px 10px 0px;
}

.form__input, textarea {
max-width: 400px;
padding: 10px 0px 10px 0px;
}

.form__input, textarea, .contactform {
  width: 100%;
}

.contactform {
  padding-left: 15%;
  padding-right: 15%;
}

/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px) {
  .product-list {
      grid-template-columns: repeat(2,1fr);
      grid-gap: 5px;
      margin: 10px auto;
  }

  .product-images {
      max-width: 100%;
      height: auto;
      display: block;
      overflow: hidden;
  }

  .home-intro-section, .fabric-info-home, .popular-jackets {
    grid-template-columns: 1fr;
    margin: auto;

  }

  .home-intro-text {
    margin: 20px 25px;
  }

  .home-intro-image {
    margin: auto;
  }

  .popular-jackets-image {
    width: 80%;
  }

  }




/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px) {

}

/*laptop and desktop*/
@media screen and (min-width: 901px) and (max-width: 1250px) {

}

