/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */
@import url('https://fonts.googleapis.com/css2?family=Cambay:wght@400;700&family=Lato:wght@900&display=swap');
@import url("./_mediaqueries.css");

.home-intro-section, .page-intro{
  background-color: #0A3641;
  color: white;
}

.home-intro-section {
  max-width: 100%;
  grid-column-gap: 10px;
  text-align: left;
  padding: 30px 0px;
}

.xanadu-page, .xanadu-details, .about-part1,.about-part3, .contact-content, .contact-content1, .contact-info {
  display: flex;
}

.h2-home {
  margin-left: 6rem;
}

.page-intro {
  padding: 20px 6rem;
}

.page-intro p {
  max-width: 92%;
  margin-left: 2%;
}

.home-page-main-image {
  max-width: 400px;
}

.home-intro-image {
  margin-left: -60px;
}

.home-intro-text {
  margin-left: 15%;
  max-width: 73%;
  line-height: 40px;
  grid-column: 1 / span 2;
  margin-top: 20px;
}

.home-intro-text p, .page-intro p {
  font-size: 17px;
}

.home-intro-section, .fabric-info-home, .product-list, .popular-jackets {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.fabric-info-home, .product-list, .popular-jackets {
  max-width: 1200px;
  text-align: center;
}

.fabric-info-home, .popular-jackets {
  margin: 20px auto;
  grid-column-gap: 200px;
}

.windproof-info-home, .waterproof-info-home, .breathable-info-home {
  max-width: 200px;
}

.popular-jackets {
  grid-column-gap: 100px;
  margin-left: 100px;
}

.popular-jackets h2,.about-part2 h1 {
  grid-column: -1/1;
}

.popular-jackets p {
  max-width: 300px;
  margin-left: 20px;
}

.about-part1,.about-part3 {
  justify-content: space-between;
  flex-direction: row;
}

.products div, .contact-info {
  text-align: center;
}

.products {
  align-items: center;
}

.about-part3-text, .contact-content > * {
flex: 1;
}

.fabric-icon {
  max-height: 80px;
}

.contact-content > * {
  margin: 0px 60px 0px 60px;
}

.product-images, .popular-jackets-image {
  max-width: 100%;
}

.contact-content1 {
justify-content: center;
}

.product-list {
  margin: 5% auto;
  grid-gap: 30px;
}

.back-p {
  font-size: 15px;
}

.back-p, .team-photo-2 {
  margin-left: 65px;
}

.back-p, .contact-info {
  margin-top: 30px;
}

.back-i, .back-i:visited {
  text-decoration: none;
}

.back-i, .back-i:visited, #sizes, .contactform {
  color: black;
}

.all-icons {
  width: 90px;
  left: 53%;
  top: 40%;

}

.xanadu-image {
  margin-left: 60px;
}

.xanadu-jacket {
  max-width: 140%;
}

.xanadu-jacket, .team-photo-2, .contact-image {
  margin-top: 10px;
}

.xanadu-details {
  flex: 1;
  flex-direction: column;
  margin-top: 7%;
  max-width: 700px;
  margin-left: 60px;
}

.product-add-size-cart {
  display: flex;
  padding-top: 20px;
  gap: 30px;
  align-items: center;
  margin-left: -5px;
}

#sizes {
  width: 200px;
  background-color: #E0E5E0;
  padding: 13px;
  font-size: 15px;
}

.about-part1-text {
  max-width: 45rem;
  margin-top: 5rem;
  line-height: 50px;
  margin-left: 17%;
}

.about-part2 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  max-width: 1000px;
  margin-left: 20%;
  padding: 20px, 0px;
}

.values {
  max-width: 70%;
}

.team-photo-1 {
  margin-right: 35px;
  margin-top: 25px;
}

.form__input, .form {
  padding-top: 10px;
}

.team-photo-2, .team-photo-1,.about-part3-text p {
  max-width: 80%;
}

.about-part3-text {
  line-height: 30px;
}

.contact-content1 {
  background-color: #A9BCBB;
  align-items: center;
}

.contact-image{
  max-height: 300px;
  margin-left: 10%;
}

.contact-info {
  gap: 150px;
  line-height: 15px;
}

.form__input, .form {
  display: block;
}

input, #sizes, textarea {
border: none;
border-radius: 10px;
margin: 5px;
}

.form__input, textarea {
max-width: 400px;
padding: 10px 0px 10px 0px;
}

.form__input, textarea, .contactform {
  width: 100%;
}

.contactform {
  padding-left: 15%;
  padding-right: 15%;
}

/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px) {
  .page-intro {
    padding: 20px;
    margin: auto;
  }
  
  .page-intro p {
    max-width: 95%;
  }
  
  .home-intro-section, .fabric-info-home, .popular-jackets {
    grid-template-columns: 1fr;
    max-width: 600px;
  }

  .home-intro-section {
    padding: 10px 0;
  }

  .home-page-main-image {
    max-width: 290px;
  }

  .home-intro-image {
    margin: auto;
  }

  .home-intro-text {
    max-width: 80%;
    line-height: 30px;
    margin: 10px auto;
  }

  .fabric-info-home {
    gap: 30px;
    margin: 20px 35px;
  }

  .windproof-info-home, .waterproof-info-home, .breathable-info-home {
    max-width: 600px;
    text-align: left;
  }

  .fabric-icon {
    max-height: 60px;
  }

  .popular-jackets {
    max-width: 600px;
    text-align: left;
    margin: 15px 5px;
    gap: 10px;
  }
  
  .popular-jackets div, .popular-jackets h2 {
    margin: auto;
  }

  .popular-jackets p {
    max-width: 350px;
    margin: 0px;
  }

  .popular-jackets-image {
    display: none;
  }

  .popular-jackets-image-small {
    max-width: 100%;
  }
  
  .product-list {
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
    margin: 10px auto;
  }

  .products {
    margin: 0px 10px;
  }

  .product-images {
    max-width: 100%;
  }

  .back-p {
    margin: 15px;
  }

  .xanadu-page {
    flex-wrap: wrap;
  }

  .xanadu-image {
    margin: 0px 10px;
  }

  .xanadu-jacket {
    max-width: 100%;
  }

  .xanadu-details {
    max-width: 600px;
    justify-content: center;
  }

  .xanadu-info1 {
    line-height: 12px;
  }

  .xanadu-info2 {
    margin-top: 50%;
  }

  .product-add-size-cart {
    gap: 10px;
    margin-top: 85px;
    margin-left: -12px  ;
  }

  #sizes {
    max-width: 155px;
  }

  }




/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px) {
  .page-intro {
    padding: 30px;
    margin: auto;
  }
  
  .page-intro p {
    max-width: 100%;
  }
  
  .popular-jackets-image{
    display: none;
  }

  .home-intro-section, .fabric-info-home, .popular-jackets {
    grid-template-columns: 1fr;
    max-width: 900px;
  }

  .home-intro-section {
    padding: 15px 0;
  }

  .home-intro-text {
    max-width: 90%;
    margin: 15px auto;
  }

  .home-page-main-image {
    max-width: 400px;
  }

  .home-intro-image {
    margin: 10px auto;
  }

  .fabric-info-home {
    gap: 30px;
    margin: 30px 50px;
  }

  .windproof-info-home, .waterproof-info-home, .breathable-info-home {
    max-width: 900px;
    text-align: left;
  }

  .fabric-icon {
    max-height: 70px;
  }

  .popular-jackets {
    max-width: 800px;
    text-align: left;
    gap: 20px;
  }
  
  .popular-jackets-image-small {
    width: 85%;
  }

  .popular-jackets p {
    max-width: 450px;
    margin: 0px;
  }

  .product-list {
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
    margin: 20px auto;
  }

  .products {
    margin: 0px 20px;
  }

  .product-images {
    max-width: 100%;
  }

}

/*laptop and desktop*/
@media screen and (min-width: 901px) and (max-width: 20000px) {
  .popular-jackets-image-small {
    display: none;
  }

}

